[2019-08-07 21:28] taybin opened #3 "Redis adaptor ignores cacheKey and just sets the key to the hashKey"
When using NodeCache, the generated key in the NodeCache is `hashKey:cacheKey`, as expected.  When using Redis, the generated key is just `hashKey`.  Looking at the RedisAdaptor, it looks like it deliberately parses out the cacheKey and just sets it as a field instead of using it for the key itself.

What's the reasoning behind this behavior?

[2019-08-07 22:17] taybin commented on #3
Okay, after digging in more, and seeing that there are unit tests to ensure this behavior, I see that it's working as designed.  But it seems odd to me to use a single redis hash to store the entire cache.  Wouldn't it be simpler to just use a naming scheme like with NodeCache?  It looks like the intent for redis hashes is for each hash to be for a single object instead of as an unbounded namespac

[2019-08-08 08:52] joshuaslate commented on #3
@taybin fair point. This was my misunderstanding (and I guess abuse) of the intent behind redis hashes. I'm very open to a PR if you have time, otherwise I'll try to work on changing this behavior as I have time!

[2019-09-07 08:55] #3 closed

[2019-09-29 18:42] jhoobergs opened #30 "Handle unavailable redis"
Hi

I got this package up and running, but when the redis server is unavailable, it always returns an error because it can't connect.
I don't want my application to fail because redis is down, i want it to always execute the method when the redis server is down, is it possible to do this easily ?

[2019-09-29 18:44] joshuaslate commented on #30
Hi @jhoobergs,

This makes sense. Great feedback, thank you. Today, I don't think there is an easy way. However, I'll work on this and implement a way to make this happen within the next few days.

Thank you!

[2019-10-01 06:45] joshuaslate commented on #30
@jhoobergs this should be implemented now in 1.1.0. Please let me know if there are any issues.

[2019-10-01 20:47] jhoobergs commented on #30
@joshuaslate I don't see any differences ?

[2019-10-02 08:02] joshuaslate commented on #30
Could you please share the error? I wrote some tests locally for if the client's set/get operations are failing and I'm not catching any errors. I'll be happy to debug this with a bit more info :)

[2019-10-04 12:26] jhoobergs commented on #30
Sorry for the late response. I'll try to create a detail example this weekend.

[2019-10-05 22:49] jhoobergs commented on #30
Example of what is failing: https://github.com/jhoobergs/type-cacheable/commit/d711c56c8899e1cb28bdccafcd3b6b32bace7a95
it works if redis is there, but returns an error if not

I add circle ci testing so you could see the results: https://circleci.com/gh/jhoobergs/type-cacheable/9 (i added you as a collaborator to my fork, so you should be able to see this)

[2019-10-06 07:15] joshuaslate commented on #30
Thank you for this, I will dive in early this week and try to figure it out.

[2019-10-07 16:32] #30 closed

[2019-10-07 16:35] joshuaslate commented on #30
@jhoobergs, please give this another shot with the latest, 1.2.1, and let me know if this solves your issue. It seemed to for me on your fork.

[2019-10-12 19:39] jhoobergs commented on #30
Works like a charm :raised_hands:

[2019-10-13 11:01] jhoobergs opened #39 "Redis colon in cacheKey"
Can you explain why having a colon in the cacheKey makes a difference ? (see https://github.com/joshuaslate/type-cacheable/blob/master/lib/adapters/RedisAdapter.ts#L70)

It didn't seem to matter when the value is a Promise of a list, but when it is a Promise of an object, the result is empty if there is a colon in the cacheKey.

[2019-10-15 05:32] joshuaslate commented on #39
Hi @jhoobergs,

I thought there was a test covering this case. I'll try to figure out what's going on. The colon is a convention for hashes (which objects are stored as here). More reading: https://stackoverflow.com/questions/3554888/what-is-the-purpose-of-colons-within-redis-keys

I should have time to look into this later this week or over the weekend. Naturally, if you're able to add a failing

[2019-10-29 05:28] chippawah opened #48 "Namespace 'NodeCache' has no exported member 'NodeCache'"
Hi and thanks for the package!

### Description

I've recently run into an issue where running `tsc` (typescript build command I'm using) is failing and pointing to `type-cacheable` as the culprit. I'm not sure if this is an issue with the package or not but I'll describe the problem and how I solved it so perhaps a PR can be discussed.

### The Error Message

[code]

I think it's because the type

[2019-10-29 07:22] joshuaslate commented on #48
Hi @chippawah, thank you for writing a detailed issue. I released an update just now, v2.0.0. Please update and let me know if there are any lingering issues. Thank you for using type-cacheable! Have a nice day.

[2019-10-29 07:22] #48 closed

[2019-10-29 10:40] chippawah commented on #48
Worked as expected! Thanks @joshuaslate !

[2019-11-09 12:46] shawnliujw opened #59 "throw error: ERR command script not support for normal user"
i tried to use `@Cacheable({ cacheKey: QichachaService.setCacheKey, ttlSeconds: 300 })` to cache my api , but i keep getting the error like below.

![image](https://user-images.githubusercontent.com/1515146/68528742-c153d900-0331-11ea-908a-5740b9474373.png)

[2019-11-09 12:59] joshuaslate commented on #59
Hi @shawnliujw,

Could you please provide me with the following:

- The version of `type-cacheable` you're using
- The version of `redis` you're using
- The implementation of QichachaService.setCacheKey (types included, please, so I can try to recreate)
- The anticipated return type of the method you're trying to cache the results of.

Does this happen every time your decorated method runs, or onl

[2019-11-09 15:15] shawnliujw commented on #59
hi @joshuaslate  , here is the details:

`type-cacheable@2.0.0` .
`redis@2.8.0` .
`static setCacheKey(args: any[]) {
    const cachePrefix = 'qcc_company';
    let arg1: any = args[0];
    if (typeof arg1 === 'object') {
      arg1 = JSON.stringify(arg1);
      const md5 = crypto.createHash('md5');
      md5.update(arg1);
      arg1 = md5.digest('hex');
    }
    return `${cachePrefix}_${arg1}`;

[2019-11-09 15:40] shawnliujw commented on #59
@joshuaslate  sorry , seems this error come from another module [@nestjs/terminus](https://github.com/nestjs/terminus) . sorry to raised the wrong issue.

[2019-11-09 15:40] #59 closed

[2019-11-09 15:42] joshuaslate commented on #59
@shawnliujw okay, thank you! Good luck :) Thanks for using `type-cacheable`.

[2020-01-25 10:03] olehcambel opened #98 "WRONGTYPE on hgetall for RedisAdapter"
example
[code]

so it will store:
[code]

Error occurs when it tries to use `hgetall` (by detecting cacheKey.includes(':'). However, it should use `get` operator in this case

[2020-01-29 09:42] rfogel opened #103 "Individual expire not working"
Hello.

I'm trying to set a individual cache time to live but I'm not getting the expected result. I'm using NodeCache as cache platform. Here's my sample code:

[code]

[code]

I tried setting hashKey and cacheKey, but no success. I also tried to create a custom CacheClient(wrap of a NodeCache) but not worked either.

I don't know if I doing something wrong or what.

[2020-01-29 09:57] joshuaslate commented on #103
About to release something that I hope fixes this. Please let me know on v2.2.1 once it's released momentarily.

[2020-01-29 10:00] joshuaslate commented on #98
Hi Oleh, thank you. I hope to have time to look into this issue this weekend.

[2020-01-29 10:22] rfogel commented on #103
OK, thanks for your quick reply. I'll check later.

[2020-01-29 12:01] rfogel commented on #103
TTL seems to be working. Thanks Josh.

FYI: Custom client on other hand seems not

[2020-01-29 12:09] joshuaslate commented on #103
@rfogel, what seems to not be working with the custom client, so I can investigate?

[2020-01-30 09:19] rfogel commented on #103
For example, i created a CacheClient implementation:

[code]

And I used it like this:

`export const cacheClient2 = new CacheClient2()`

[code]
Am I doing it right? Is this supposed to work?

[2020-01-30 11:27] joshuaslate commented on #103
I added a test here that seems to be passing. Note that I needed to make some small tweaks to your custom client implementation to get past some typing errors, but otherwise, it seems to be working for me: https://github.com/joshuaslate/type-cacheable/commit/57c7556160f44cbaff55ba59c93dff9cceeda124#diff-4f83e010711858fe0b863df874558aacR73

[2020-02-01 19:28] joshuaslate commented on #98
In v3.0.0, I believe I got this fixed.

[2020-02-01 19:28] #98 closed

[2020-02-01 19:29] joshuaslate commented on #39
In v3.0.0, I believe I got this fixed. Please feel free to re-open the issue if that's not the case. Sorry this took a while, I didn't understand the issue fully.

[2020-02-01 19:29] #39 closed

[2020-02-02 09:15] olehcambel opened #110 "Usage of @types in dependencies"
Actually, do we need types like `@types/redis`, `@types/ioredis`, `@types/node-cache` in dependencies of package.json? I mean, when users install your lib they also install appropriate lib for caching with its own types.

I can make PR later.

[2020-02-02 13:17] joshuaslate commented on #110
I thought that originally too, but ran into issues, which is why I added these as regular dependencies to begin with.

One solution might be to use a tool like Lerna to publish the adapters separately. Something like:

[code]

Then the consumer is only getting what they need.

[2020-02-05 01:22] dvarnai opened #113 "Adapter inconsistencies"
Redis and IoRedis adapters store values differently, IoRedisAdapter doesn't support hmset like RedisAdapter does. Furthermore, IoRedisAdapter doesn't do any transformation for numbers and strings.

As a better solution, I propose adding a transform function parameter to the cacheable decorator, that would by default transform objects, numbers, booleans. This would also make it possible to parse cu

[2020-02-05 08:30] joshuaslate commented on #113
Thank you for the suggestion @dvarnai, that seems like a good idea if I'm understanding correctly.

So there would be an optional parameter to handle (de)serializing the return value of the decorated method, but we would provide a default implementation (as is the only option now)? This would give users the option to use non-native types.

I'd be happy to review a PR for this. Thank you for your c

[2020-02-05 10:22] rfogel commented on #103
So, is there any reason for console.log not been called? I'm new to javascript, so maybe I'm missing something.

[2020-02-05 13:33] joshuaslate commented on #103
You should see `console.log` being called when there's no value cached for the given arguments (a cache miss) because the method will actually run in that case. If there's a cache hit, you wouldn't see the `console.log` because the method wouldn't actually run. It would just return the value from the last time it ran.

[2020-02-05 14:03] rfogel commented on #103
I never saw console.log. What I thought it should work: If there ins't a cache, **set** method should be called and **get** method should always be called since the service needs to check if there's a value cached. On both methods, console.log are present.

[2020-02-06 09:03] joshuaslate commented on #103
Your assumptions are right. Would you be able to add a failing test case that I can work on? I tried adding the code you provided, but for some reason, the tests I created are still passing 🤷‍♂

[2020-02-07 10:32] dvarnai commented on #113
Yes that's exactly what I mean. Also, it might by a good idea to store strings escaped with surrounding quotations marks rather than store numbers booleans etc with a type identifier. This would eliminate any chance of falsely parsing actual strings as numbers or booleans etc and it would make it possible to store basic types as they would be stored in a json.

[2020-02-09 17:36] dvarnai commented on #113
#116

I added a draft PR with my implementation, please take a look whenever you get a chance. I imagine there are plenty of ways to make it nicer.

[2020-02-10 07:35] olehcambel commented on #110
hmm, I don't know. For example I got this message on `npm i`

[2020-03-09 15:17] asafbrill opened #136 "Noop is not working when client is defined"
Hi,
Setting the noop to true does not have any effect.
Looking at Cacheable.ts, it looks like the noop check happens only if the client is not defined (which usually will not be the case).

It would seem that it should be outside the if (!client) block...

[2020-03-19 12:41] joshuaslate commented on #136
Hey there,

I'll try to take a look at this this weekend! I've been a bit busy lately, sorry for the delayed reply.

Best,

Josh

[2020-03-22 16:07] #136 closed

[2020-04-01 14:45] tomasstrejcek opened #155 "Missing changelog"
Hi there, big thanks for this lib, it helps us tremendously!
But I need to ask you for a favor, could you always provide a changelog when releasing new version (with warnings for breaking changes ofc)?
It would greatly help everybody using your lib.
Thanks

[2020-04-01 14:49] joshuaslate commented on #155
Hi Tomáš,

Yes, I'll try to add one going forward.

Best,

Josh

[2020-04-03 07:29] joshuaslate commented on #155
I've generated a changelog here and will update it moving forward.

https://github.com/joshuaslate/type-cacheable/blob/master/CHANGELOG.md

[2020-04-03 07:29] #155 closed

[2020-04-20 20:51] taybin opened #170 "Missing index.d.ts in latest release"
After upgrading to the latest release, I see it's missing a types declaration file.  This should be included, right?  It was included in the older version I was using, 0.1.9.

[2020-04-20 20:52] joshuaslate commented on #170
Hi @taybin, you're right. I'll look into this.

[2020-04-20 21:24] joshuaslate commented on #170
Please check with v4.1.2. This seems to be working for me now.

[2020-04-20 21:30] taybin commented on #170
That fixed it.  Thank you!

[2020-04-20 21:30] #170 closed

[2020-05-05 14:07] olehcambel opened #180 "node-cache error"
Since moving to latest version
[code]

I'm getting error on ts build *. I use `ioredis` for caching. Should I install `node-cache` as devDependencies to fix it?
*
[code]

[2020-05-05 14:11] olehcambel commented on #180
Possible solution is to move `@types/node-cache` to dependencies

[2020-05-06 06:22] olehcambel commented on #180
Also, reference to #110

[2020-05-06 12:50] joshuaslate commented on #180
Hi @olehcambel,

I will try to look into the monorepo solution I mentioned before in order to fix this. I think that's the best way to approach this, so the adapters can remain completely separate from one another.

For the short-term, I guess you could try adding node-cache as a devDep.

[2020-05-10 13:36] joshuaslate commented on #110
Hi Oleh, please try with the latest version, v5.0.1 and let me know if there are any issues. Note that the npm packages have been changed to:

[code]

You will need `@type-cacheable/core` and whichever corresponding adapter, then simply update your imports and things should work as in the latest v4 release otherwise.

[2020-05-10 13:37] joshuaslate commented on #180
Hi Oleh, please try with the latest version, v5.0.1 and let me know if there are any issues. Note that the npm packages have been changed to:

[code]

You will need `@type-cacheable/core` and `@type-cacheable/ioredis-adapter`, then simply update your imports and things should work as in the latest v4 release otherwise.

[2020-05-10 16:08] olehcambel commented on #180
Ok, thanks! I'll try a bit later and then close this issue

[2020-05-10 16:13] #110 closed

[2020-05-11 06:54] olehcambel commented on #180
No, there is no issues. Everything is working as expected. I'm closing this issue

[2020-05-11 06:54] #180 closed

[2020-05-16 15:20] oschlegel opened #189 "Configureable caching strategy"
Do you thought about supporting different caching strategies? Currently your caching mechanism returns always the cached value if some exists, which is a kind of "Cache First" strategy. I thought of a "Cache as Fallback" strategy where the original method is always executed. In case the method returns a result within a certain timespan the result is returned and the Cache is updated. If the method

[2020-05-17 13:14] joshuaslate commented on #189
Hi @oschlegel,

I hadn't considered that, but it does seem like a cool idea that I'd be open to exploring. I'll look into this when I have some free time.

Thank you!

[2020-05-26 20:08] #189 closed

[2020-06-06 12:13] oschlegel opened #198 "Fallback to in-memory cache"
In some cases it would be nice if a in-memory cache would be used by `Cachable` and `CacheClear` decorators if no other cache is defined. This would open the possibility to have a fallback for caching if a connection to the actual cache could not be established. This behavior should be optional, for example by a `fallbackToInMemoryCache` flag in the `CacheManager` options.

Why do you think of thi

[2020-06-07 14:07] joshuaslate commented on #198
Hi @oschlegel, I don't think I want to include an in-memory cache implementation in core. An alternative idea would be to add an optional `fallbackClient`. Then the user could pass whichever implementation they'd prefer as a fallback. For an in-memory solution, the user could pass in an instance of `@type-cacheable/node-cache-adapter`. Would that accomplish what you're hoping for?

[2020-06-07 14:19] oschlegel commented on #198
That sounds like a good solution

[2020-06-11 09:49] OlivierKamers opened #202 "Caching numeric values"
Thank you for this great library, we have been able to make great use of it already!

So far we have been using it for methods that return objects. I wanted to cache a method that returns a number but at the moment it appears that caching a numeric value itself is not supported for the redis adapter. The cached value is returned as a string. This conversion is done on this line in the adapter:
htt

[2020-06-14 14:59] joshuaslate commented on #202
Hi @OlivierKamers, thank you for the kind words and for using the library!

The serialization and deserialization with redis are things I'd like to give another look to in general.

Maybe simply dropping JSON.stringify for numbers/booleans would be a good short-term solution though.

I'm not at my desk until later in the upcoming week, but can likely make the changes and release an update at that

[2020-07-13 11:51] evilworm opened #204 "Incorrect usage of "scan" while deleting pattern matched cache entries"
Currently we have single command being executed while deleting cached entries:

[code]

This is wrong. Redis SCAN command is cursor based and you need to check the response if the cursor position is "0". If it's not "0" then you need to continue executing the scan command in a loop.

I checked only the ioredis implementation, but it's probably true for other adapters as well. It should look someth

[2020-07-26 02:56] #103 closed

[2020-07-26 02:56] joshuaslate commented on #103
Closing because this is a stale issue. Please provide more information if you can still repeat this.

[2020-07-26 02:59] joshuaslate commented on #198
Going to land in the next major version via #208.

[2020-07-26 02:59] #198 closed

[2020-07-26 20:09] joshuaslate commented on #202
This should be fixed in v6. Please upgrade and test, but note that (de)serialization has changed entirely (got rid of the custom logic that seemed to not be necessary). This means previously cached values may not be read properly. I advise you to purge your cache when updating.

Please feel free to re-open this issue if this issue is not resolved.

[2020-07-26 20:09] #202 closed

[2020-07-26 20:09] joshuaslate commented on #204
This should be fixed in v6. Please upgrade and test, but note that (de)serialization has changed entirely (got rid of the custom logic that seemed to not be necessary). This means previously cached values may not be read properly. I advise you to purge your cache when updating.

Please feel free to re-open this issue if this issue is not resolved.

[2020-07-27 07:51] OlivierKamers commented on #202
Hi @joshuaslate!
Thank you for the update. We will try the new version asap and report back with the results 👍

[2020-07-27 14:00] luqezman opened #211 "Add possibility to clear multiple cacheKey's or auto update cache."
I started developing a simple CRUD api of TODO's and using type-cacheable.

The first problem encountered is "I cannot clear multiple cacheKey's". Why I want this? Because I cache a list of items using a specific cacheKey instead of id.

The second problem encountered is "I want to clear and update immediately", also for multiple cacheKey's. Why I want this? Because I want to clear the cache after

[2020-07-27 14:19] luqezman commented on #211
My current behaviour:

[code]

Like I said before I want to clear other keys because I want to cache a list of todos in my method `getAllTodos`.

So I suggest caching results immediately and adding a possibility to clear another keys:

[code]

Thanks again

[2020-07-27 22:10] joshuaslate commented on #211
#212 will add the ability to pass multiple keys to clear for the next release. I'll work on the rest in the (hopefully) near future, else I'm happy to review PRs.

[2020-07-27 22:18] luqezman commented on #211
@joshuaslate wow! You were quite quick!

What about @CacheResult idea,cCaching immediately after the result? It prevents concurrent requests trying to build the cache simultaneously.

[2020-07-27 22:26] joshuaslate commented on #211
I agree we should support that, I'm just trying to find the best way. I originally thought composition might work here, e.g.:

[code]

But had no luck with this, unfortunately.

Maybe something like `@CacheUpdate` or `@CacheReplace`? I think it's more explicit than `@CacheResult`, but the concept would be the same as yours above.

[2020-07-27 22:27] luqezman commented on #211
@joshuaslate when the new release will be available?

[2020-07-27 22:31] luqezman commented on #211
@joshuaslate I prefer @CacheUpdate, it's more readable. But I think you cant use @Cacheable in a persist method since you dont want to cache that method, I just want to replace immediately a single cache key and clearing another keys. In this case I want to "update" current todo and clear the key 'todos' which is responsible for caching a list, in my example.

[2020-07-27 22:34] joshuaslate commented on #211
v6.1.0 is published now with the ability to provide `@CacheClear` with an array (or function that returns an array) for the `cacheKey` value.

As for the `@CacheUpdate` decorator, sure. I can do this, but I'll need to look at it another day.

[2020-07-27 22:48] luqezman commented on #211
Big thanks @joshuaslate <3

[2020-07-27 23:30] luqezman commented on #211
@joshuaslate mark this issue as resolved/merged, etc. Thanks.

[2020-07-28 03:46] joshuaslate commented on #211
`@CacheUpdate` has landed in 6.2.0, please let me know if it suits your purposes. It's working for me.

[2020-07-28 04:40] #113 closed

[2020-07-28 07:18] luqezman opened #214 "CacheUpdate is not working properly"
Hi again @joshuaslate :)

I was trying to use @CacheUpdate decorator from version 6.2.0 but for some behaviours I couldnt.

When I use @CacheUpdate on update operation, normally I have the my entity and possibility to set cacheKey by id, example:

[code]

Everything here works like a charm. But in my create operation I dont have id available immediatelly, example:

[code]

When I try to create cac

[2020-07-28 21:17] joshuaslate commented on #214
Hi @luqezman,

I'll figure something more elegant out for this. Meanwhile, I'd recommend using the `@CacheClear` decorator above `createTodo()` and relying on your `@Cacheable`-decorated `getUser(id: string)` and `getUsers()` methods to populate the cache when called.

[2020-07-28 21:22] luqezman commented on #214
@joshuaslate I did it, everything is working like a charm, just waiting a possibility to implement it on create. Check my code:

[code]

[2020-07-28 21:25] luqezman commented on #214
What a possibility adding a decorator called @CacheResult? Or adding another strategy to CacheUpdate decorator. That would be the cherry on the cake :P

[2020-07-28 21:39] joshuaslate commented on #214
I am thinking of adding another strategy to the `@CacheUpdate` decorator. I hope to do it soon, just a bit busy at the moment.

Also, be careful with `Object.assign(todo, todoUpdateInput);` because that will actually mutate your `todo` object at the source 😬 It could cause some hard-to-track bugs. `const todoToUpdate = { ...todo, ...todoUpdateInput };` might be better for your purposes here, but y

[2020-07-28 21:40] luqezman commented on #214
@joshuaslate some people recommend using Object.assign because my Entities sometimes has lifecycle methods, etc.

[2020-07-28 22:02] luqezman commented on #214
@joshuaslate Tell me about your strategy regarding of @CacheUpdate.

[2020-07-29 06:33] herebebogans opened #216 "Property 'setOptions' does not exist on type 'NodeCache'"
Following the example from @type-cacheable/node-cache-adapter README and then trying to set options as per core README.

[code]

`Property 'setOptions' does not exist on type 'NodeCache'`  typescript error ..

versions.
[code]

[2020-07-29 12:23] luqezman commented on #211
Yes, everything is working here! Big hug <3

[2020-07-29 12:23] #211 closed

[2020-07-29 12:26] luqezman commented on #216
`setOptions` belongs to CacheManager instead of client, check code below:

[code]

[2020-07-29 13:22] herebebogans commented on #216
Thanks .. the main README is a little confusing on this.

[2020-07-29 13:22] #216 closed

[2020-07-29 13:42] luqezman commented on #216
Np! You're welcome :)

[2020-07-31 19:17] luqezman commented on #214
@joshuaslate news? :P

[2020-07-31 19:18] joshuaslate commented on #214
Not yet, busy work week. I hope to look soon.

[2020-08-01 15:57] joshuaslate commented on #214
In v7.0.0 this should be solved.

[code]

[2020-08-01 15:57] #214 closed

[2020-08-01 21:29] luqezman commented on #214
Huge Thanks @joshuaslate :-D

[2020-08-05 12:32] mklan opened #221 "Clear all cacheKeys by hashKey"
Hello. First of thanks for this awesome lib :) I wanted to ask if it is somehow possible to clear all cacheKeys with the same hashKey?

I tried to use CacheClear like this:

[code]

but it does not clear and I need to also define a cache key like this:

[code]

Thank you!

[2020-08-05 17:22] joshuaslate commented on #221
Hello! Thank you for the kind words. Currently, it's not possible. I think I could implement this. How would you like the interface for this to work? If no `cacheKey` option is passed in, simply clear all `cacheKey`s with the provided `hashKey` as you have there in your sample code?

[2020-08-06 10:43] mklan commented on #221
Hey! Thanks for the fast response! Yes this would be a clean interface in my opinion. Thank you for implementing this feature!

[2020-08-07 03:36] joshuaslate commented on #221
Hey! This should be resolved in version 8.0.0, please let me know if there are any issues!

[2020-08-07 08:36] herebebogans opened #227 "Cache hit / miss rate"
Love this library!

At the moment there appears to be no hooks to determine if the cached key lookup was a hit or a miss or the number of times a key has been accessed ? Any thoughts on an interface to view these stats?

[2020-08-07 10:02] mklan commented on #221
Hello joshuaslate thanks for the quick implementation!
I have an issue with version 8 loading the types. It states:

"Cannot find module '@type-cacheable/core' or its corresponding type declarations."

[2020-08-07 14:37] joshuaslate commented on #221
I think this is related to #223. @dmeents I'm going to revert your commit and we can look into this later.

[2020-08-07 14:57] joshuaslate commented on #227
Thanks!

Would you like these stats to come from the cache itself, (redis stats, for example), or from the library and tracked in-mem?

[2020-08-07 15:36] joshuaslate commented on #221
Please try v8.0.1 😬

[2020-08-08 00:16] herebebogans commented on #227
To start with overall and by method but eventually by key would also be useful.

I'm not sure if this would be possible but in addition to counts for hits and misses also a request rate per second?

eg Overall

`
summary: {
  hits: {
    rate: 0.5,
    count: 100,
 },
  misses: {
    rate: 0.1,
    count: 20
  },
}
`
If you look at node-cache

https://github.com/ptarjan/node-cache/blob/master/inde

[2020-08-10 15:39] #221 closed

[2020-08-14 12:26] evilworm commented on #204
unfortunately this fix introduced endless loop because the cursor check is implemented incorrectly

you have:
`cursor = Number(result[0]) !== cursor ? Number(result[0]) : null;`

when result[0] is set to 0, the above logic will set cursor=0, however the while(...) checks for null value
so basically when cursor value is 0 you start the SCAN command from the beginning hence the endless loop

you sho

[2020-08-14 14:47] joshuaslate commented on #204
@evilworm thank you for your contribution. I've released your update and added some extra tests to help ensure this is working as intended. Please let me know if the latest version of the adapter + core work for you.

[2020-08-25 09:24] evilworm commented on #204
the fix seems to work correctly now

[2020-08-25 09:24] #204 closed

[2020-10-15 17:03] ruscon opened #272 "[bug] `@type-cacheable/core` must be as a peerDependency for all adapters"
Right now `@type-cacheable/core` indicated in the `dependencies` section, because of this, 2 different versions of the package can be installed in the project and nothing will be cached.

[2020-10-19 07:04] pupipipu opened #274 "[bug] CacheClear is not clearing all the keys if cacheKey is specified as string[]"
when `cacheKey` is set as an array of string for `CacheClear` decorator, it'll only clear out the first key in the array

[2020-10-19 10:31] oschlegel opened #275 "[question] How to clear keys by pattern"
Hi, i have a question regarding cache keys, maybe you can help me. I have cache keys which look like this: `items_[country]_[language]_[userId]`, where country, language and userId are dynamic values. When a item is created, updated, or deleted i want to clear all cache keys that start with `items_`. Is it possible to clear cache keys by a regex pattern or something similar?

[2020-10-27 06:55] oschlegel commented on #275
Can you help me here?

[2020-10-28 05:47] joshuaslate commented on #275
Hey there @oschlegel, I believe you can pass something like `{ isPattern: true, cacheKey: 'items_' }`

Please let me know if this works for you. I've got a lot going on in my personal life at the moment and won't be able to offer much more support for the next couple of weeks.

[2020-10-28 05:49] joshuaslate commented on #274
Which adapter are you using?

[2020-10-28 05:50] joshuaslate commented on #272
Sorry for the delay, I've been busy. If you'd like to open a PR, I can review it sooner, else I'll try to get to this in a couple of weeks.

[2020-10-28 06:02] pupipipu commented on #274
we're using [ioredis-adapter](https://github.com/joshuaslate/type-cacheable/tree/master/packages/ioredis-adapter)

[2020-10-28 06:36] oschlegel commented on #275
You are right i totally overread that in the documentation, thanks

[2020-10-28 06:36] #275 closed

[2020-10-28 13:52] joshuaslate commented on #274
@pupipipu could I get a bit more context? This test is passing: https://github.com/joshuaslate/type-cacheable/commit/4e694bb19e87f7c7c563d66c623b76a6500c2b8d#diff-ea1aac11c730e1fa8cab288badbc340c9c880f39fbf749beb0dae81429cc479cR350

[2020-11-10 11:56] paulfrench opened #303 "Multiple Caches"
Hello, quick question. I can't see how you can setup different named caches. For example, if I have 3 different areas e..g products, orders, sales etc, I would want to create a separate cache per functional area. Each area will have different TTL etc. Is this possible or do I need to use one cache and specify a hashkey for each each functional area?

Cheers

[2020-11-12 12:00] paulfrench commented on #303
Okay, I just setup a different cache client for each area

[2020-11-12 12:00] #303 closed

[2020-11-12 12:03] paulfrench opened #304 "[bug] ttlseconds is actually using milliseconds and not seconds"
No idea if this is a core bug or the lrucache adaptor bug.

I'm using LRUCache. When specifying ttlseconds I have to actually specify millis. e.g for 30 seconds I have to specify

ttlseconds: 30000

It took me a while to work out why caching wasn't working!

[2020-11-12 12:06] paulfrench opened #305 "[info] how do clear all keys in a cache using @CacheClear without specifying every key?"
How do clear all keys in a cache using @CacheClear without specifying every key?

It is sometimes useful to blow away the whole cache when an update/delete occurs

[2020-11-13 02:30] joshuaslate commented on #303
Sorry for the delay, I've been busy. You should be able to pass a `cacheClient` in as an argument to each decorator. Is that what you were referring to?

[2020-11-13 02:53] joshuaslate commented on #305
I could see the use case for implementing this more properly, but for now you could accomplish this by doing the following (I think):

`@CacheClear({ ..., isPattern: true, cacheKey: '.' })`

This should work because the '.' will match all of your keys.

[2020-11-14 22:36] joshuaslate commented on #272
This is resolved in v9.0.1.

[2020-11-14 22:36] #272 closed

[2020-11-14 22:37] joshuaslate commented on #304
This is resolved in v9.0.1.

[2020-11-17 12:31] paulfrench commented on #304
Hello, I retested with 9.0.1

    "@type-cacheable/core": "^9.0.1",
    "@type-cacheable/lru-cache-adapter": "^9.0.1",

Still needed to multiply all ttlseconds by 1000

[2020-11-17 15:50] paulfrench commented on #305
I tried...
@CacheClear({client: lruClient, isPattern: true, cacheKey: '.'})
@CacheClear({client: lruClient, isPattern: true, cacheKey: '.*'})
@CacheClear({client: lruClient, isPattern: true, cacheKey: '^.*$'})

Can't get it to clear the cache? Any ideas?

[2021-02-04 14:43] christianvanr opened #349 "[BUG] CacheClear not working on Azure Redis"
**Describe the bug**
type-cacheable CacheClear failure on method updateUserDetails due to client error: Cannot read property 'redis_version' of undefined when using @CacheClear

**To Reproduce**
Steps to reproduce the behavior:
When using the packages  :

- "@type-cacheable/core": "^9.1.0"
- "@type-cacheable/redis-adapter": "^9.1.0 ,
- "ioredis": "^4.19.4"
- "redis": "^3.0.2",

and connecting to A

[2021-02-04 23:43] joshuaslate commented on #349
Hi @christianvanr, I am not sure what is happening here: https://github.com/NodeRedis/node-redis/blob/master/README.md#clientserver_info

According to the `redis` package and its corresponding types, this information comes through on `client.server_info`. Looking through the source of the library, I see the same. Do you have any more information on what could be causing this discrepancy?

[2021-02-05 10:23] christianvanr commented on #349
By changeing the adapter from @type-cacheable/redis-adapter to '@type-cacheable/ioredis-adapter'  it is working (i didn't dive into the code, but maybe the check is not implemented there)/ If you still intrested in it : we are using : "redis": "^3.0.2", and   "ioredis": "^4.19.4", (both are needed because we are using also other libraries, which are using redis)

[2021-06-23 14:08] danshapir opened #444 "[BUG] Decorator doesn't function as a lock"
**Describe the bug**
When calling the decorated function multiple times before the promise is resolved, it will actually call it multiple times, meaning if I want to cache a request to the DB, if I have 100 calls to that function, 70 of them might trigger a call to the DB before it's actually saved and only the last 30 will be cached.
This basically makes it useless :(

**To Reproduce**
Steps to r

[2021-06-24 03:50] zhaoyuhang1033 commented on #444
same

[2021-07-06 19:50] atkinchris commented on #305
For anyone coming to this from Redis, I think the pattern you use is dependant on the client you're using. For example, if using `ioredis`, your pattern is ultimately used as the pattern in a `MATCH` option for a `SCAN` operation.

https://github.com/joshuaslate/type-cacheable/blob/3e853576c04295158e246d079155c360d16f50fd/packages/ioredis-adapter/lib/index.ts#L74

In this case, you're limited most

[2021-07-06 20:03] atkinchris opened #449 "[BUG] Which package manager should be used for setting up this project?"
I'm attempting to clone and install the repository, to investigate a bug and hopefully contribute back. I can see an `.nvmrc` (Node 10.7.0) and a Lerna setup. However, there are both `package-lock.json` and `yarn.lock` lockfiles.

Attempting to setup the project with `yarn` (1.22.5) throws the following error:

[code]

With `npm` (6.1.0 from the `nvm` setup), I'm able to install the dependencies,

[2021-07-06 20:11] atkinchris commented on #449
From experimenting, I'm guessing that the `.nvmrc` version is too restrictive - using a later Node 10 (10.22, in my case) allowed the `yarn` installation to complete and the build to run.

The tests however, don't pass. I'm guessing this is because they expect a Redis server to be running in the test environment.

https://github.com/joshuaslate/type-cacheable/blob/main/.travis.yml#L2

[2021-08-07 22:50] #444 closed

[2021-08-07 23:27] joshuaslate commented on #444
Please try again in v10.0.0.

[2021-08-16 02:29] robtayl0r opened #479 "redis-adapter@10 specifies peer core@9"
https://github.com/joshuaslate/type-cacheable/blob/89f2f9c3c105d22b5096e06b26b477f73b053644/packages/redis-adapter/package.json#L47

Results in a peer dependency error when installing.

[code]

[2021-08-16 15:49] #479 closed

[2021-08-16 16:11] joshuaslate commented on #449
@atkinchris, sorry for the delay. Yes, I deleted the `package-lock.json` file. I use yarn. The tests do expect a redis server to be running. It is quite possible the `.nvmrc` is too restrictive.

[2022-03-09 10:00] cernytomas opened #638 "[BUG] Redis adapter returns string values instead of Date"
**Describe the bug**
Using redis adapter, cache saves Date instance value as a string. Getting cached value returns string instead of Date instance.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Response should be consistent, doesn't matter if loaded from cache or not. Should return date if possible

**Environment:**
 - OS: MacOs, Linux
 - Version 10.0.3
- Adapte

[2022-03-09 23:57] #638 closed

[2022-06-01 13:53] taybin opened #694 "[BUG] Doesn't work with node-redis 4.1.0"
In the node-redis 4.1.0 release, they changed the location of their subpackages.  Quoting from their page:

This doesn't work with the [import statement in the redis-adaptor](https://github.com/joshuaslate/type-cacheable/blob/3e9dbbc3e8b80f638480569c6235856f478698f5/packages/redis-adapter/lib/index.ts#L1)

They really should have incremented the major version for this breaking change, but they did

[2022-06-02 00:24] joshuaslate commented on #694
Thanks for the heads up. I just updated. This should work in the latest version. I followed the same semver as them here to hopefully prevent issues for others.

[2022-06-02 00:24] #694 closed

[2022-06-02 14:18] taybin commented on #694
Thank you for the quick fix!

[2022-06-02 14:19] taybin opened #696 "The redis-adaptor can depend on just @redis/client instead of the entire redis library"
This would make for a slightly smaller dependency tree.

[2022-06-02 20:53] joshuaslate commented on #696
Thanks, I updated this and published a major because I wasn't quite sure if it'd result in a breaking change.

[2022-06-02 20:53] #696 closed

[2022-08-31 17:41] stanyq4 opened #761 "Silently ignore if connection is not available"
I am using `ioredis` with `type-cacheable` on AWS lambdas, and from time to time, the connection to Redis will time out.

Some of my APIs are time-sensitive, and if the connection to Redis fails - I wanna skip the cache and proceed to DynamoDB as soon as possible.

Here's how Redis client configuration:

[code]

As you can see, I give 1.5 seconds for connection and retry once, and if that fails -

[2022-09-07 22:08] joshuaslate commented on #761
Hi,

I have been busy, but hope I can take a look into this soon. If you've got the time, I'd be happy to consider a PR from you for this feature.

[2022-09-07 22:18] joshuaslate commented on #349
This should be working in the latest version of the redis-adapter.

[2022-09-07 22:18] #349 closed

[2022-09-07 22:27] #305 closed

[2022-09-08 16:01] Thibault-Brocheton opened #767 "[Bug/Question] setClient throws error when setting it null & options.ttlSeconds not set"
Hello !

Not sure if it's a bug or if we don't use this package correctly
We're using this package (10.1.0) with @redis/client

When our redis loose it's connection, we want to disable the cache, until redis reconnect.
To do so, we call the CacheManager with .setClient(null)

As client is null, and we don't specify the ttlSeconds, this.client.getClientTTL() throws an error
[code]

Are we missing s

[2022-11-04 17:40] klebeer opened #808 "[Feature Request] IoRedis Adapter Scan Keys on Redis Cluster"
**Is your feature request related to a problem? Please describe.**
Currently, the IoRedisAdapter **keys** method uses the ioRedis  **scan** command to search for a pattern
The problem is that the scan command only works on no-cluster environments, and when we use the key command, there are not the right responses to the matches.

[code]

**Describe the solution you'd like**
To support search in a

[2022-11-05 16:00] #767 closed

[2022-11-05 20:41] joshuaslate commented on #808
Thanks for your PR, this is included in the latest release.

[2022-11-05 20:41] #808 closed

[2022-11-10 14:00] oschlegel opened #818 "Incorrect peer dependency in redis adapter package"
**Describe the bug**
The `@type-cacheable/redis-adapter` package version 14.0.0 has a peer dependency to `@type-cacheable/core` of version 10.0.0 and a dev dependecy to `@type-cacheable/core` of version 11.0.0, this looks not correct to me.

**Expected behavior**
The `@type-cacheable/redis-adapter` package version 14.0.0 should have a peer dependency to `@type-cacheable/core` of version 11.0.0.

[2022-11-10 14:08] joshuaslate commented on #818
@oschlegel, thank you for catching this. I was having trouble with Lerna. I'll fix this and release a patch version.

[2022-11-10 14:15] #818 closed

[2022-11-14 21:09] stanyq4 opened #821 "Extend @Cacheable decorator"
Hi @joshuaslate

Trying to extend your @Cacheable decorator to inject some custom metadata:

[code]

But whenever I apply this to my function, it always misses the cache, any obvious suggestions?
Thank you

[2022-11-14 21:29] #821 closed

[2022-11-14 21:29] stanyq4 commented on #821
just had to `return Cacheable(...)`